---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ demo_app_namespace }}

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ demo_app_name }}
  namespace: {{ demo_app_namespace }}
  labels:
    app: {{ demo_app_name }}
spec:
  replicas: {{ demo_app_replicas }}
  selector:
    matchLabels:
      app: {{ demo_app_name }}
  template:
    metadata:
      labels:
        app: {{ demo_app_name }}
    spec:
      containers:
        - name: {{ demo_app_name }}
          image: {{ demo_app_image }}
          ports:
            - containerPort: 80

---
apiVersion: v1
kind: Service
metadata:
  name: {{ demo_app_service_name }}
  namespace: {{ demo_app_namespace }}
spec:
  type: LoadBalancer
  selector:
    app: {{ demo_app_name }}
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
